<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOLA 1</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Porro praesentium illo tempora? Corrupti mollitia labore itaque eum 
        maxime illum ipsam, dolore ullam quas, minima dolorem repellat tempora consequuntur? 
        Fuga, esse?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ducimus cum autem 
        perspiciatis! Velit illo reiciendis dolores culpa quos blanditiis, similique placeat 
        adipisci dicta distinctio vitae id unde molestias sunt.</p>
</body>
</html>